<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>
        <div class="container">
            <h1>Lista de productos</h1>
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(function(product){%>
                        <tr>
                            <td><%= product.name %></td>
                            <td >$<%= product.price %></td>
                            <td colspan="4" class="align-middle"><img class="img-fluid" src=<%= product.image %> alt=<%= product.name %>/></td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </body>
</html>